body{
    margin: 0px;
}
#tela{
    position: absolute;
    margin: 0px;
    height: 100%;
    width: 100%;
}
#cabeca {
    display: inline-block;
    background-color: rgb(31, 31, 31);
    color: darkgrey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    width: 100%;
    height: 8%;
}
#logo {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    height: 100%;
}
#cabeca-botoes{
    margin-left: 30%;
    display: inline-flex;
    justify-content: space-between;
    width: 330px;
}
.botoes{
    font-size: 20px;
    background-color: rgb(82, 80, 80);
    border-radius: 5px;
    padding: 5px;
}
#player {
    display: block;
    background-color: black;
    font-size: 0px;
    height: 92%;
    width: 100%;
}
#nomesPastas {
    display: flex;
    width: 100%;
    height: 2.98%;
}
.nomePasta {
    background-color: rgb(73, 73, 73);
    display: inline-flex;
    flex-direction: row;
    width: 25%;
    font-size: 14px;
    justify-content: center;
    color: darkgray;
    border: 1px solid black;
}
#editores {
   display: flex;
   height: 97%;
}
#editorHTML { 
    display: inline-flex;
    width: 25%;
    border: 1px solid black;
}
#editorCSS { 
    display: inline-flex;
    width: 25%;
    border: 1px solid black;
}
#editorJS { 
    display: inline-flex;
    width: 25%;
    border: 1px solid black;
}
#output { 
    background-color: rgb(31, 31, 31);
    color: red;
    display: inline-flex;
    font-size: 28px;
    width: 25%;
    border: 1px solid black;
}